body {
    background-color: black;
    background-image: url("mobile-0819.jpg");
    background-repeat: no-repeat;
}

.Box{

    background-color: black;
    border-radius: 15px;   
    display: flex;
    width: 400px;
    height: 80px;
    border: 2px solid grey;
    margin-left: 100px;
    margin-top: 350px
}

.picture img{
    height: 70px;
    padding: 5px;
}

.text{
    width: 300px;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 15px;
}

.textZero{

    color: white;
    font-family: Arial, Helvetica, sans-serif;;
}
.textOne{

    color:blue;
}

.Gif img{

    height: 60px;
    padding: 10px;
}

