*{
  padding: 0;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

.header {
  background-color: #000;
  color: white;
  display: flex;
  font-size: 10px;
  height: 50px;
  font-size: 20px;
}

.hd1 {
  margin-top: auto;
  margin-bottom: auto;
  margin-left: 15%;
}
.hd2 {
  margin-top: auto;
  margin-bottom: auto;
  margin-left: 15px;
}
.hd3 {
  margin-top: auto;
  margin-bottom: auto;
  margin-left: 15px;
}
.hd4 {
  margin-top: auto;
  margin-bottom: auto;
  margin-left: 15px;
}

.details {
  background-color: #c6bfbf;
  height: 15%;
  padding-top: 20px;
  padding-bottom: 12px;
}

h1{
  margin-top: auto;
  margin-bottom: auto;
  margin-left: 14%;
  font-size: 3em;
}

.para{
  padding-top: 20px;
  margin-left: 14%;
  margin-right: 130px;
}   

.main{
  display: flex;
  font-size: 14px;
  margin-left: 130px;
  margin-right: 130px;   
  margin-top: 10px; 
  margin-bottom: 30px;
}

.text1{
  margin-right: 20px;
}

.text2{
  margin-right: 20px;
}

footer {

  bottom: 0%;
  height: 40px;
  background-color: #0b4d14;
  color: white;
  display: flex;
  font-size: 15px;
  width:100%;
  position: fixed;
}

.f1{
  margin-top: auto;
  margin-bottom: auto;
  margin-left: 100px;
}

.f2{
  margin-top: auto;
  margin-bottom: auto;
  margin-left: 15px;
}

.f3{
  margin-top: auto;
  margin-bottom: auto;
  margin-left: 15px;
}

.f4{
  margin-top: auto;
  margin-bottom: auto;
  margin-left: 50%;
}


.f5{
  margin-top: auto;
  margin-bottom: auto;
  margin-left: 15px;
}

.f6{
  margin-top: auto;
  margin-bottom: auto;
  margin-left: 15px;
  margin-right: 15%;
}