* {
    height: 100%;
    margin: 0;
  }
  body {
    background-image: url('https://assets.nflxext.com/ffe/siteui/acquisition/ourStory/fuji/desktop/mobile-0819.jpg');
    height: auto;
    background-repeat: no-repeat;
    background-position: center;
    background-color: black;
  }
  h1,
  h5,
  p {
    color: white;
    text-align: center;
    margin-top: 10px;
  }

  .container {
    width: auto;
    margin: 400px auto;
    background-color: black;
    border: 2px solid white;
    border-radius: 5px;

    display: flex;
    flex-wrap: nowrap;
    max-width: 400px;
  }
  .container > div {
    text-align: center;
  }
  #photo {
    height: 100px;
    max-width: auto;
  }
  #text {
    max-width: auto;
    margin-top: 30px;
    margin-right: 65px;
    margin-left: 10px;
    text-align: center;
    /* float: left; */
    width: fit-content;
  }
  #gif {
    margin-top: 15px;
    max-width: 50%;
  }
  #download {
    color: blue;
  }